input[type="date"]::-webkit-calendar-picker-indicator {
    font-size: 23px;
    cursor: pointer;
    margin-top: -6px;
}

input[type="date"]:in-range::-webkit-datetime-edit-year-field, input[type="date"]:in-range::-webkit-datetime-edit-month-field, input[type="date"]:in-range::-webkit-datetime-edit-day-field, input[type="date"]:in-range::-webkit-datetime-edit-text { 	color: transparent; }