.home-banner-bg{
    background-image: url('../../assets/road.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
}




.why-choose-bg{
    background-image: url('../../assets/building.png');
    height: 420px;
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
}
.why-choose-gradient{
    background-image: linear-gradient(to right, #60a547 50%, transparent);
    height: inherit;
}